<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/style.css">
    <title>e-may | cart</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="header">
            <h1 class="menu-button"><a href="/">E-may</a></h1>
            <nav>
                <span class="menu-button"><a href="/">Home</a></span>
                <span class="menu-button"><a href="/cart">Cart</a></span>
                <span class="menu-button"><a href="/search">Search</a></span>
            </nav>
        </div>
    </header>
    <form method="POST" style="text-align: center;padding-top: 2vw;">
        <h1>Name</h1><br>
        <input type="text" name="name" placeholder="Put your full name"><br>
        <h1>Email</h1><br>
        <input type="email" name="email" placeholder="Put your email"><br>
        <br>
        <button class="button" style="font-size: 2vw;">Submit</button>
    </form>
</body>

</html>